section.about
    .wrapper
        .about-block
            .about-block__text
                .page__title_over Welcome to 
                    span.page_color-blue-5 Health
                h2.page__title-h2_semibold Who we are
                p.page__text Aenean leo ligula, porttitor eu, consequat vitae,eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                ul.page__ul
                    li.page__ul-li HealthCoach
                    li.page__ul-li People Relationship
                    li.page__ul-li Individual Support
                    li.page__ul-li balanced body Mind
            .about-block__img
                img.page__img(src="assets/img/img-man.png   ", alt="")