section.advantages
    .wrapper-full
        .advantages-items
            .advantages-items__item
                .page__icon.page__icon_help-2
                h3.page__title-h3 Operation Theater
                p.page__text Li lingues differe solmen gram grammatical, li commun vocabules.
            .advantages-items__item
                .page__icon.page__icon_help-1
                h3.page__title-h3 Operation Theater
                p.page__text Li lingues differe solmen gram grammatical, li commun vocabules.
            .advantages-items__item
                .page__icon.page__icon_medical 
                h3.page__title-h3 Operation Theater
                p.page__text Li lingues differe solmen gram grammatical, li commun vocabules.
            .advantages-items__item
                .page__icon.page__icon_signal
                h3.page__title-h3 Operation Theater
                p.page__text Li lingues differe solmen gram grammatical, li commun vocabules.
                
