section#appointment-form.appointment-form
    .appointment-form_opacity
    .appointment-form-block
        .wrapper
            h2.page__title-h2 doctor’s  Appointment form
            p.page__text Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.
            form.page__form(action="")
                input.page__input(type="text", placeholder="Doctor’s Speciality")
                input.page__input(type="text", placeholder="Doctor’s Speciality")
                input.page__input(type="text", placeholder="Doctor’s Speciality")
                input.page__input(type="text", placeholder="Doctor’s Speciality")
                input.page__input(type="text", placeholder="Doctor’s Speciality")
                input.page__input(type="text", placeholder="Doctor’s Speciality")
                textarea.page__textarea(name="", placeholder="Doctor’s Speciality")
                button.page__btn.page__btn_green Make on Appointment