section#banner.banner
    .banner_opacity
    .banner-block
        .wrapper
            .page__title_over Expert healthcare Doctor
            h1.page__title-h1 Gives the Least Medicines
            p.page__text Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules omnicos directe al desirabilite de un nov lingua francal On refusa continuar payar custosi traductores.
            a.page__btn(href="#appointment-form") Meet the Doctor