section.callback
    .wrapper
        h2.page__title-h2 You have any queries enter your number we will call back 
        form.page__form(action="")
                input.page__input(type="tel", placeholder="Enter your phone number*")
                button.page__btn.page__btn_green(type="submit") Call me