header.header
    .wrapper
        .header-block
            a.header-block__logo(href="#banner")
                .header-block__logo-icon
            .header-block__social
                include social