section.our-doctor
    .wrapper
        h2.page__title-h2 our health doctor
        p.page__text Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.
        .our-doctor-items
            .our-doctor-items__item
                .page__img
                    img(src="assets/img/img-medical-1.jpg", alt="")
                .our-doctor-items__item-text
                    h3.page__title-h3_medium Fannie Ramos
                    p.page__text Cardiology
            .our-doctor-items__item
                .page__img
                    img(src="assets/img/img-medical-2.jpg", alt="")
                .our-doctor-items__item-text
                    h3.page__title-h3_medium Indigo Violet
                    p.page__text Chef Consultant
            .our-doctor-items__item
                .page__img
                    img(src="assets/img/img-medical-3.jpg", alt="")
                .our-doctor-items__item-text
                    h3.page__title-h3_medium Eric Widget
                    p.page__text General Surgeon