section.testimonials
    .wrapper
        h2.page__title-h2 Testimonials
        p.page__text Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.
        .testimonials-slider
            .testimonials-slider__img
                img.page__img(src="assets/img/img-medical-4.jpg", alt="")
                h3.page__title-h3 Benjamin Evalent
                p.page__text Patient
            .testimonials-slider__text
                p.page__text “Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.Duis leo. Sed fringilla mauris sit amet li Donec sodales sagittis magna.”

                .testimonials-slider__pagination
                    .point
                    .point.active
                    .point
        